{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WARS - Password Reset Request</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/password_reset.css'%}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/front-images/wars_logo.png'%}" alt="WARS Logo">
        </div>
    </header>
    <div class="overall-container">
        <div class="container">
            <div class="heading">
                <p><img src="{% static 'images/front-images/upp-pass-reset-icon.png'%}" alt="" class="icon">System Password Reset Request</p>
            </div>
            <div class="reset-form">
                <form action="#" class="form-container">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter registered email address" required>
                    </div>
                    <div class="form-group-btn">
                        <a href="/login" class="btn cancel-btn">Cancel <i><img src="{% static 'images/front-images/passreset-down-cancel-icon.svg'%}" alt="passResetCancel"></i></a>
                        <button type="submit" class="btn submit-btn" onclick="redirectToUpdatePassword();">Send Password Reset Request <i><img src="{% static 'images/front-images/passreset-sendrequest-icon.svg'%}" alt="passRequest"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function redirectToUpdatePassword(){
            window.location.href = "/password-update";
        }
    </script>
</body>
</html>
