/* Reset and general styles */
* {
    margin: 0;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', 'Noto Sans', sans-serif;
}

/* Body styling */
body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

/* Logo styling */
header {
    text-align: center;
    margin-bottom: 20px;
}
.logo img {
    max-width: 400px;
}

/* Container styling */
.overall-container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    align-items: center;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 25px 25px;
}
.container{
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 20px 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
/* Heading styling */
.heading p {
    font-size: 24px;
    color: #18BBB1;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    border-radius: 5px;
    padding-bottom: 40px;
    background-color: #d3d3d3;
}
.heading .icon {
    width: 30px;
    margin-right: 10px;
}

/* Form styling */
.form-container {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 15px;
}
label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}
input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
input:focus{
    outline: none;
    border-color: #18BBB1;
}
/* Button group styling */
.form-group-btn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.btn {
    flex: 1;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Cancel button */
.cancel-btn {
    background-color: #0C21E4;
}

/* Submit button */
.submit-btn {
    background-color: #4CAF50;
    border: none;
}

/* Hover effects */
.btn:hover {
    opacity: 0.9;
}

/* Responsive Design */
@media (max-width: 600px) {
    .heading p {
        font-size: 20px;
    }
    .btn {
        font-size: 14px;
        padding: 10px;
    }
}
