/* General Reset */
* {
    font-family: 'EB Garamond', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px;
}
.container {
    width: 100%;
    max-width: 800px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

.header .logo {
    max-width: 200rem;
    margin-bottom: 20px;
}

.title {
    font-size: 1.8rem;
    background-color: #d9d9d9;
    color: #18BBB1;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title img {
    width: 100px;
    height: 100px;
}

.instruction {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.otp-input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    text-align: justify;
    letter-spacing: 2px;
}
.otp-input:focus{
    outline: none;
    border-color: #19a2dc;
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-btn, .verify-btn {
    flex: 1;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.cancel-btn {
    background-color: #0C21E4;
    margin-right: 10px;
}

.verify-btn {
    background-color: #18BBB1;
}

.cancel-btn:hover {
    background-color: #0920B4;
}

.verify-btn:hover {
    background-color: #16A89B;
}

@media (max-width: 600px) {
    .title {
        font-size: 1.5rem;
    }
    .otp-input, .cancel-btn, .verify-btn {
        font-size: 0.9rem;
    }
}
